{% extends "layout.html" %}
{% block title %}Poista viestejä{% endblock %}
{% block content %}
<b>Poista viestejä:</b>
<form action="/deletemessage" method="post">
<hr>
{% for message in messages %}
<i>Otsikko:</i> {{ message[0] }}
<p>
<i>Viesti:</i> {{ message[1] }}
<p>
<i>Viestin lähettäjä:</i> {{ message[2] }} <br>
<p>
<i>Viesti lähetetty:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<input type="hidden" name="id" value= "{{ message[4] }}">
<input type="submit" value="Poista">
<hr>
{% endfor %}
</form>

{% endblock %}