{% extends "layout.html" %}
{% block title %}Poista viestejä{% endblock %}
{% block content %}
<style>
    form #delete-button {
        padding: 5px;
        border: none;
        text-align: center;
        width: 7em;
        background: dodgerblue;
        border-radius: .5em;
        color: white;
        font-family: 'Courier New';
        font-weight: bold;
    }

    form #delete-button:hover {
        background: lightskyblue;
        font-family: 'Courier New';
        font-weight: bold;
    }
</style>

<b>Poista viestejä:</b>
<form action="/deletemessage" method="post">
<hr>
{% for message in messages %}
<i>Otsikko:</i> {{ message[0] }}
<p>
<i>Viesti:</i> {{ message[1] }}
<p>
<i>Viestin lähettäjä:</i> {{ message[2] }} <br>
<p>
<i>Viesti lähetetty:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}<br>
<p>
<input type="hidden" name="id" value= "{{ message[4] }}">
<input id="delete-button" type="submit" value="Poista">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<hr>
{% endfor %}
</form>

{% endblock %}