<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
            body {
                margin: auto;
                max-width: 45em;
                background: white;
                font-family: 'Courier New';
                color: black;
            
            }

        </style>
    </head>
Virhe: {{ message }}
<p>

{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/frontpage">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/">Kirjaudu sisään</a>
{% endif %}