<title>Tervetuloa</title>
<p>
<h1>Mitä haluaisit tehdä?</h1>
<p>
<a href="/newreview">Jättää uuden arvostelun</a>
<p>
<a href="/reviewslist">Lukea muiden jättämiä arvosteluja</a>
<p>
<a href="/newsearchreview">Hakea ravintolan arvostelua</a>
<p>
<a href="/newmessage">Kirjoittaa uuden viestin</a>
<p>
<a href="/messageslist">Lukea muiden kirjoittamia viestejä</a>
<p>
<a href="/newsearchmessage">Hakea viestiä</a>
<p>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

#frontpage.html