<title>Tervetuloa</title>
<p>
<h1>Mitä haluaisit tehdä?</h1>
<p>
Arvostelut:
<p>
<a href="/newreview">Jättää uuden arvostelun</a>
<p>
<a href="/reviewslist">Lukea muiden jättämiä arvosteluja</a>
<p>
<a href="/newsearchreview">Hakea ravintolan arvostelua</a>
<p>
<a href="/deletereview">Poistaa arvostelun</a>
<p>
<p>
<p>
Viestit:
<p>
<a href="/newmessage">Kirjoittaa uuden viestin</a>
<p>
<a href="/messageslisthelsinki">Lukea muiden kirjoittamia viestejä Helsinki</a>
<p>
<a href="/messageslistfood">Lukea muiden kirjoittamia viestejä annos</a>
<p>
<a href="/messageslistexperience">Lukea muiden kirjoittamia viestejä kokemus</a>
<p>
<a href="/messageslistavoid">Lukea muiden kirjoittamia viestejä vältä</a>
<p>
<a href="/messageslist">Lukea muiden kirjoittamia viestejä</a>
<p>
<a href="/newsearchmessage">Hakea viestiä</a>
<p>
<a href="/deletemessage">Poistaa viestin</a>
<p>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}