<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
            body {
                margin: auto;
                max-width: 45em;
                background: white;
                font-family: 'Courier New';
                color: black;
            
            }

        </style>
    </head>
<title>Ravintola-arvostelut</title>
<form action="/" method="post">
<p>
<h1>Ravintola-arvostelut</h1>
<p>
<b>Tervetuloa</b>
<p>
<hr>
Kirjaudu sisään:
<p>
Tunnus: <input type="text" name="username">
<p>
Salasana: <input type="password" name="password">
<p>
<input type="submit" value="Kirjaudu">
</form>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
<hr>