<form action="/sendreview" method="POST">
    <b>Arvostele ravintola</b>
    <p>
    Ravintolan nimi:
    <input type="text" name="restaurant" required minlength="1" maxlength="50">
    <p>
    Päivämäärä:
    <input type="date" name="date" required>
    <p>
    Ajankohta:
    <select name="type">
    <option value="Aamiainen" selected> Aamiainen
    <option value="Lounas" selected> Lounas
    <option value="Illallinen" selected> Illallinen
    <option value="Jokin muu" selected> Jokin muu
    </select>
    <p>
    Ruoka: <br>
    <input type="radio" name="food" value="1"> 1
    <input type="radio" name="food" value="2"> 2
    <input type="radio" name="food" value="3"> 3
    <input type="radio" name="food" value="4"> 4
    <input type="radio" name="food" value="5"> 5
    <p>
    Tunnelma: <br>
    <input type="radio" name="atmosphere" value="1"> 1
    <input type="radio" name="atmosphere" value="2"> 2
    <input type="radio" name="atmosphere" value="3"> 3
    <input type="radio" name="atmosphere" value="4"> 4
    <input type="radio" name="atmosphere" value="5"> 5
    <p>
    Palvelu: <br>
    <input type="radio" name="service" value="1"> 1
    <input type="radio" name="service" value="2"> 2
    <input type="radio" name="service" value="3"> 3
    <input type="radio" name="service" value="4"> 4
    <input type="radio" name="service" value="5"> 5
    <p>
    Vapaa palaute: <br>
    <textarea name="feedback" rows="10" cols="50"></textarea>
    <p>
    <input type="submit" value="Lähetä">
    </form>
    {% if session.user_id %}
    Olet kirjautunut sisään.
    <a href="/frontpage">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}

    #newreview.html