<b>Arvostelut</b>
<hr>
{% for review in reviews %}
<i>Ravintola:</i> {{ review[0] }}
<p>
<i>Vierailuaika: </i> <br>
<i>Päivämäärä</i> {{ review[2] }} <br>
<i>Ajankohta</i> {{ review[3] }}
<p>
<i>Ruoka:</i> {{ review[4] }}
<p>
<i>Tunnelma:</i> {{ review[5] }}
<p>
<i>Palvelu:</i> {{ review[6] }}
<p>
<i>Vapaa palaute:</i> {{ review[1] }}
<p>
<i>Arvostelu annettu:</i> {{ review[8] }} <br>
<i>Arvostelun antoi:</i> {{ review[7] }}
<hr>
{% endfor %}
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/frontpage">Etusivulle</a> | <a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}

#reviewslist.html