{% extends "layout.html" %}
{% block title %}Arvostelut{% endblock %}
{% block content %}
<b>Arvostelut</b>
<hr>
{% for review in reviews %}
<i>Ravintola:</i> {{ review[0] }}
<p>
<i>Vierailuaika: </i> <br>
<i>Päivämäärä</i> {{ review[2] }} <br>
<i>Ajankohta</i> {{ review[3] }}
<p>
<i>Ruoka:</i> {{ review[4] }}
<p>
<i>Tunnelma:</i> {{ review[5] }}
<p>
<i>Palvelu:</i> {{ review[6] }}
<p>
<i>Vapaa palaute:</i> {{ review[1] }}
<p>
<i>Arvostelu annettu:</i> {{ review[8].strftime("%Y-%m-%d %H:%M:%S") }} <br>
<i>Arvostelun antoi:</i> {{ review[7] }}
<hr>
{% endfor %}

{% endblock %}